.counter {
  margin: 5px 0;
  display: flex;
  height: 20px;
  font-size: 20px;
  align-items: center;
  gap: 5px;
}

.counter button {
  border: 0;
  font-weight: bold;
  background-color: white;
  cursor: pointer;

  border-radius: 4px;
}
