.mainCard {
  width: 700px;
  height: 500px;
  
}



.mainCard__text{
  padding: 0 30px;
}

.mainCard__text h3 {
  font-size: 2.8rem;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.mainCard__text p {
  position: relative;
  font-size: 0.9rem;
  font-weight: bold;
  z-index: 1;
}

.mainCard__text p::before {
  content: "Average: ";
  opacity: 0.7;
}

