.upcomingList {
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  overflow-y: hidden;
  gap: 20px;
  width: 100%;
  height: 250px;
  &Section {
    h2 {
      width: calc(100vw - 100px);
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  &Card {
    width: 150px;
    &__text {
      padding: 0 30px;
      
    }
  }
}
